@charset "UTF-8";
/* Paleta de colores */
/*Tipografia*/
/*Tamaño fuentes*/
/*Interlineado*/
/*Alineacion cosas*/
/*Estilos textos*/
/*Espaciado*/
/*Basics*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 15px; }

body {
  font-family: "Lato", sans-serif;
  background-image: linear-gradient(to bottom right, #fffcf7, #c9d6b1); }

/*Formato texto basico*/
h2 {
  font-size: 1.3rem;
  color: #463f3a;
  text-align: center;
  padding: 1rem 0 1rem 0;
  font-family: "Jura", sans-serif;
  font-weight: bolder; }

h3 {
  color: #463f3a;
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem 0 1rem 0;
  font-family: "Jura", sans-serif;
  font-weight: bolder; }

main p {
  text-align: justify;
  font-size: 1.1rem;
  padding: 0 1rem 0 1rem;
  line-height: 1.3rem; }

aside p {
  text-align: justify;
  font-size: 1rem;
  padding: 0 1rem 0 1rem; }

aside h2 {
  font-size: 1.3rem; }

/*Grids setteo*/
header {
  grid-area: header; }

main {
  grid-area: main; }

aside {
  grid-area: aside; }

footer {
  grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-columns: 8fr 2fr;
  grid-template-areas: 'header header' 'main aside' 'footer footer';
  grid-gap: 1rem;
  padding: 1rem;
  background-image: linear-gradient(to bottom right, #fffcf7, #c9d6b1); }
  .grid-container > div {
    text-align: center;
    padding: 0; }

/*Header*/
.header__banner {
  display: flex;
  box-sizing: border-box; }

.header__titulo {
  padding: 2rem 0rem 2rem 0rem;
  text-align: center;
  align-items: center;
  font-family: "Jura", sans-serif;
  color: #463f3a;
  font-size: 2.5rem;
  font-weight: bolder;
  width: 100%; }

.header__logo {
  height: 7rem;
  width: auto;
  float: left;
  box-sizing: border-box; }

/* Formato navbar de bootstrap */
.navbar {
  background-color: #c9d6b1 !important;
  margin: 0.5rem 0 0.5rem 0;
  box-sizing: border-box; }

.nav-item a:hover {
  background-color: #a1b5d8 !important;
  box-sizing: border-box; }

.nav-item .active {
  text-decoration: underline; }

.nav-link {
  font-weight: bolder;
  font-size: 1.3rem;
  font-family: "Lato", sans-serif;
  color: black !important; }

/* Make head of dropdown link clickable in navbar */
/* Also remove data-bs-toogle on html */
.dropdown:hover .dropdown-menu {
  display: block !important; }

/*Formato imagenes*/
.main__imagen--derecha {
  float: right;
  height: 15rem;
  width: auto;
  border-radius: 1rem;
  border: 0.5rem double #463f3a;
  margin: 0.5rem 0 0.5rem 0.5rem; }

.main__imagen--small {
  float: right;
  height: 9rem;
  width: auto;
  border-radius: 1rem;
  border: 0.5rem double #738290;
  margin: 0.5rem 0 0.5rem 0.5rem; }

.main__video {
  display: block;
  width: 560px;
  height: 315px;
  padding-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto; }

/* Footer FlexBox*/
.flex__footer {
  display: flex;
  padding: 0;
  margin-top: 0px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #c9d6b1 !important; }
  .flex__footer div {
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    color: black !important; }
    .flex__footer div a, .flex__footer div h3, .flex__footer div p, .flex__footer div label {
      color: black; }

input {
  /* centra el placeholder */
  text-align: center; }

/*Botones redes sociales*/
.fa {
  padding: 0.5rem;
  font-size: 1.95rem;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: white !important; }

.fa:hover {
  opacity: 0.5; }

.fa-facebook {
  background: #3B5998;
  color: white; }

.fa-twitter {
  background: #55ACEE;
  color: white; }

.fa-linkedin {
  background: #007bb5;
  color: white; }

.fa-youtube {
  background: #bb0000;
  color: white; }

.fa-instagram {
  background: #125688;
  color: white; }

/* Formato aside bootstrap */
.aside__imagen {
  height: 12rem;
  width: auto;
  object-fit: cover; }

.aside__card {
  background-color: #D9E2C8; }

/*Responsive layout XS celulares pequeños <576px*/
@media screen and (max-width: 575.98px) {
  .flex__footer {
    flex-direction: column; }
  .header__titulo {
    display: none; }
  .header__banner {
    justify-content: center; }
  .flex__esp {
    flex-direction: row; }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'header' 'main' 'aside' 'footer';
    grid-gap: 1rem;
    background-image: linear-gradient(to bottom right, #fffcf7, #c9d6b1);
    padding: 1rem; }
  .main__video {
    width: 400px;
    height: max-content;
    margin: 0.25rem 2rem 0.25rem 2rem;
    margin-left: auto;
    margin-right: auto;
    display: block; }
  .main__imagen--derecha {
    height: 11rem; }
  .card {
    margin: 0.25rem 2rem 0.25rem 2rem;
    height: auto !important; }
  .contacto__margin {
    margin: 0 2rem 0 2rem; } }

/*Responsive layout SMALL celulares medianos o portrait landscape*/
@media screen and (min-width: 576px) and (max-width: 767.98px) {
  .flex__footer {
    flex-direction: column; }
  .flex__esp {
    flex-direction: row; }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'header' 'main' 'aside' 'footer';
    grid-gap: 1rem;
    background-image: linear-gradient(to bottom right, #fffcf7, #c9d6b1);
    padding: 1rem; }
  .header__titulo {
    padding: 1rem 0 1rem 0;
    text-align: center;
    font-family: "Jura", sans-serif;
    color: #463f3a;
    font-size: 2rem;
    font-weight: bolder; }
  .contacto__margin {
    margin: 0 1rem 0 1rem; }
  .card {
    margin: 0.25rem 2rem 0.25rem 2rem;
    height: auto !important; } }

/*Responsive layout MEDIUM para tablets*/
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .flex__footer {
    flex-direction: row; }
  .flex__esp {
    flex-direction: row; }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'header' 'main' 'aside' 'footer';
    grid-gap: 1rem;
    background-image: linear-gradient(to bottom right, #fffcf7, #c9d6b1);
    padding: 1rem; }
  .header__titulo {
    padding: 1rem 0 1rem 0;
    text-align: center;
    font-family: "Jura", sans-serif;
    color: #463f3a;
    font-size: 1.95rem;
    font-weight: bolder; }
  .contacto__margin {
    margin: 0 1rem 0 1rem; }
  .card {
    margin: 0.25rem 1rem 0.25rem 1rem;
    height: auto !important; } }

/*Responsive layout LARGE para desktops*/
/*Formato formularios*/
.contacto__comentarios {
  width: auto;
  height: 200px;
  padding: 1rem; }

form {
  text-align: center; }

.forms__title-formato {
  font-weight: bold;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  color: black !important; }

/*Especialistas FlexBox*/
.flex__esp {
  display: flex;
  padding: 0;
  margin-top: 0px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }
  .flex__esp div {
    margin: 10px;
    padding: 10px;
    text-align: center; }
  .flex__esp h2 {
    font-size: 1.3rem; }

/* Carousel Especialistas */
.carousel__size {
  width: 300px;
  height: 300px;
  margin: 0 auto; }

.carousel-inner {
  width: 100% !important; }
  .carousel-inner .carousel-item {
    height: 300px; }

.carousel-item img {
  position: relative;
  max-height: 300px;
  object-fit: contain; }

.carousel-captionh5 {
  text-align: center;
  color: white;
  font-weight: bolder !important;
  text-shadow: 1px 1px 2px #463f3a; }

.carousel-captionp {
  text-align: center;
  color: white;
  font-weight: bolder;
  text-shadow: 1px 1px 2px #463f3a; }

/*Formato tablas*/
table {
  caption-side: top; }

caption {
  text-align: center;
  color: #463f3a;
  font-size: 1.5rem;
  padding: 1rem 0 1rem 0;
  font-family: "Lato", sans-serif;
  font-weight: text-bolder; }
