@keyframes animation1{
    0%{
      opacity:0.5;
      border: 0.5rem solid pink;}
      
    50%{
      opacity:0.8;
      border: 0.8rem solid brown;}
    100%{
      opacity:1;
      border: 0.5rem solid #463f3a;}
  }

  .animation1 {
    animation-name: animation1;
    animation-iteration-count: 1;
    animation-timing-function:linear;
    animation-duration: 2s;
    border-radius: 1rem;
    border: 0.5rem double #463f3a;
  }

  @keyframes animation2{
    0%{opacity:0.5;}
    50%{opacity:0.8;}
    100%{opacity:1;}
  }
 
  .animation2 {
    animation-name: animation2;
    animation-iteration-count: 2;
    animation-timing-function:linear;
    animation-duration: 1.5s;
    animation-delay: 0.2s;
  }