/*Basics*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  font-family: $font-type-p;
  background-image: $color-background;
}

/*Formato texto basico*/

.h__md {
  @include title($size:$font-h-md);
}

.h__md--underline {
  @include title($size:$font-h-md);
  text-decoration: underline;
}

.h__sm {
  @include title;
}

.h__xs {
  @include title ($size:$font-h-sm);
}

.p__md {
  @include text ($size: $font-p-md, $interlineado: 1.3rem);
}

.p__xl--strong {
  @include text ($size: $font-p-xl, $interlineado: 1.3rem);
  font-weight: $text-bolder;
}

.p__md--strong {
  @include text ($size: $font-p-md, $interlineado: 1.3rem);
  font-weight: $text-bolder;
}

.p__md--italic {
  @include text ($size: $font-p-md, $interlineado: 1.3rem);
  font-style: $text-italic;
}

.p__md--strong_italic {
  @include text ($size: $font-p-md, $interlineado: 1.3rem);
  font-weight: $text-bolder;
  font-style: $text-italic;
}

.p__sm {
  @include text;
}

.center{
  text-align: $align-center;
}

.center__object{
  align-items: center !important;
  justify-content: center !important;
  
  text-align: center;
}

.center__map{
  margin-right: auto;
  margin-left: auto;
  display:block;
}

.interlineado-sm{
  line-height: $text-interlineado-sm;
}



a:link {
  color: $color-text;
}

.carousel-caption{
  @extend .p__xl--strong;
  @extend .center;
  font-size: $font-p-xl*1.2;
  line-height: $space-md;
  color:white;
  text-shadow: 3px 3px black;
  

}