  /*Especialistas FlexBox*/

  .flex__esp {
    display: flex; 
    padding: 0; 
    margin-top: 0; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-around; 
  & div {
    margin: 10px;
    padding: 10px;
    text-align: center;
  }
  }
  

/* Carousel Especialistas */

.carousel__size {
  width: 300px; 
  height:300px; 
  margin: 0 auto;
}

.carousel-inner{
  width: 100% !important;
  & .carousel-item {
    height: 300px;
  }
}

.carousel-item img {
    position: relative;
    max-height: 300px;
    object-fit: contain;
}

.carousel-caption{
  text-align: $align-center;
  color:white;
  font-weight: $text-bolder !important;
  text-shadow: 2px 2px 3px $color-dark;
}


/*Formato tablas*/

table{
  caption-side: top;
}

caption { ///uso de map-get
    text-align: map-get($caption-style, align-center);
    color: map-get($caption-style, color-text);
    font-size: map-get($caption-style, font-h-sm);
    padding: map-get($caption-style, space-sm 0 space-sm 0);
    font-family: map-get($caption-style, font-type-p);
    font-weight: map-get($caption-style, text-bolder);
  }