  /*Especialistas FlexBox*/

  .flex__esp {
    display: flex; 
    padding: 0; 
    margin-top: 0; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-around; 
  & div {
    margin: 10px;
    padding: 10px;
    text-align: center;
  }
  }
  

/* Carousel Especialistas */

.carousel__size {
  width: 300px; 
  height:300px; 
  margin: 0 auto;
}

.carousel-inner{
  width: 100% !important;
  & .carousel-item {
    height: 300px;
  }
}

.carousel-item img {
    position: relative;
    max-height: 300px;
    object-fit: contain;
}

.carousel-caption {
  &h5{
  text-align: $align-center;
  color:white;
  font-weight: $text-bolder !important;
  text-shadow: 1px 1px 2px $color-text;
}
&p{
  text-align: $align-center;
  color:white;
  font-weight: $text-bolder;
  text-shadow: 1px 1px 2px $color-text;}
}

/*Formato tablas*/

table{
  caption-side: top;
}

caption {
    text-align: $align-center;
    color: $color-text;
    font-size: $font-h-sm;
    padding: $space-sm 0 $space-sm 0;
    font-family: $font-type-p;
    font-weight: $text-bolder;
  }