/* Formato botones carousel */
.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
    filter: invert(100%);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 8vw;
    padding: 20vw 0 20vw 0;
}

.carousel-indicators {
    margin-bottom: 3rem;
}